*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(242, 237, 244);
}
.navbar{
    background-color: rgb(225, 184, 237);
    padding: 7px;
}
i{
    color: rgb(112, 36, 159);
}
i:hover{
    font-weight: bold;
    color: rgb(98, 28, 142);
}
table,tr,td{
    border: 1px solid black;
    text-align: center;
}
.nava{
    display: inline-block;
    width: 20%;
}
.navtxt{
    text-align: right;
    font-size: 15px;
    color: rgb(98, 28, 142);
    display: inline-block;
    width: 79%;
    font-weight: bold;
    font-size: 18px;
}